<% include partials/header.ejs %>

  <div class='container content'>
    <div class='col-sm-8 offset-2 p-5'>

      <div class='album-info header'>
        <h1><%= album.title %></h1>
        <h5><em> by <%= album.artist %></em></h5>
      </div>

      <div class='review-list content'>
        <div class='mb-4'>
          <h2 class='d-inline'>Reviews</h2>
          <a class='btn btn-primary float-right' href='/albums/<%= album.id %>/reviews/new' role="button">Add review</a>
        </div>

        <% reviews.forEach(function(review) { %>
          <div class='review'>
            <div class='d-inline'>
              <span class='h5'><a href="/albums/<%= review.album_id %>"><%= review.title %></a></span>
              <span class='float-right'><small>Posted on <%= review.date %></small></span>
            </div>

            <div class='d-inline-block'>
              <p><%= review.body %></p>
              <span class='float-right'>by <a href='/users/<%= review.user_id %>'><%= review.user %></a></span>
            </div>
          </div>
        <% }) %>
      </div>

    </div>
  </div>


<% include partials/footer.ejs %>
