<% include partials/header.ejs %>

  <div class='container content'>
    <div class='col-sm-8 offset-2 album-main'>

      <div class='album-info header'>
        <h1><%= album.title %></h1>
        <h5><em> by <%= album.artist %></em></h5>
      </div>

      <div class='review-list content'>
        <h2>Reviews</h2>

        <% reviews.forEach(function(review) { %>
          <div class='review'>
            <h5><a href="/albums/<%= review.album_id %>"><%= review.title %></a></h5>
            <span>Posted on <%= review.date %></span>
            <p><%= review.body %></p>
            <span>by <%= review.user %></span>
          </div>
        <% }) %>
      </div>

    </div>
  </div>


<% include partials/footer.ejs %>
